1.Write a python function which should be capable of finding the factorial of any given number as an argument.


---

In [13]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

Input a number to compute the factiorial : 5
120

2. Luke Skywalker has family and friends. Help him remind them who is who. Given a string with a
name, return the relation of that person to Luke.

---

In [17]:
dict={
    'Darth Vader': 'father',
    'Leia':'sister',
    'Han':'brother in law',
    'R2D2' : 'driod'
}
def relation_to_luke(k):
  print("Luke,I am your {0}".format(dict[k]))
s=input()
#print(s)
relation_to_luke(s)

Darth Vader
Luke,I am your father

3. Create a function which takes a number as its argument and return the number of digits in it. Use
of len function is not allowed. For example for 5 it should return 1, for 32 it should return 2 and 123 ,
3 should be returned and so on.


---

In [20]:
n=input()

def count(n):
    c=0
    for i in n:
        c+=1
    return c

print(count(n))

6320
4


4. Write a function which takes a number as argument suppose 5 and gives results as multiplication
of factorial of each positive number less than or equal to the number given. i.e !5*!4*!3*!2*!1 = 34560 


---

In [26]:
import math
def factorial(n):
    return(math.factorial(n))
 
l = []
num = int(input("Please enter number:"))
for i in range(1,num+1):
    res = factorial(i)
    l.append(res)

ans = math.prod(l)
print(ans)

Please enter number:5

AttributeError: ignored

5. Write a function which takes any number of arguments from a user and return the result which
should be output of a2 + b2+ c2+… if a , b ,c are numbers supplied ..i.e if 1,2,3 are supplied then result
returned should be 14. But user may supply any number of inputs so make the function to adapt to
that.
---

In [22]:
l=list(map(int,input().split()))
def result(l):
    s=0
    for i in l:
        s+=i**2
    return s
print(result(l))

1 2 3
14

6.Write a function which accepts 3 arguments from the user.1 .number 1, 2. Number2 and 3. An
operation. The operation supported should be +, -, *, and /. The function should return the result of
given operation. For example arguments are 3,2,+ then result returned should be 5.


---

In [23]:

a,b,c=map(str,input().split())
def result(a,b,c):
    if c=='+':
        return a+b
    elif c=='-':
        return a-b
    elif c=='/':
        return a/b
    else:
        return a*b
print(result(int(a),int(b),c))

1 2 +
3

7. Write a function which takes an argument which should be a numeric +ve integer. Depending on
the input supplied you have to print “I CAN”, “I WILL”. Suppose some one enters argument as 1 then
only “I CAN” should be printed. But if some one enters 2 then first “I CAN” should be printed then “I
WILL”. And if someone enters 3 then following should be printed in corresponding order: “I CAN”, “I
WILL”, “I CAN” and so on for any numbers entered.


---

In [24]:
n = int(input("Please enter number:"))
for i in range(0,n):
    if(i%2!=0):
        print("I WILL")
    else:
        print("I CAN")

Please enter number:4
I CAN
I WILL
I CAN
I WILL

8. We have been given a list of whole numbers which represents the color of each gloves, determine
how many pairs of gloves with matching colors there are. For example, there are 7 gloves with
colors [1, 2, 1, 2, 1, 3, 2]. There is one pair of color 1 and one of color 2. There are three odd gloves
left, one of each color. The number of pairs is 2. Create a function that returns an integer representing
the number of matching pairs of gloves that are available.

---

In [6]:
a = list(map(int,input().strip().split()))
dict = {}
for i in a:
    if i in dict.keys():
        dict[i] = dict[i]+1
    else:
        dict[i] = 1
cnt = 0;
for d in dict:
    k = dict[d]
    if(k%2 != 0):
       cnt=cnt+1
print((len(a)-cnt)//2);

1 2 1 2 1 3 2
2

9. Write a function that returns True if two arrays, when combined, form a consecutive sequence. A
consecutive sequence is a sequence without any gaps in the integers, e.g. 1, 2, 3, 4, 5 is a
consecutive sequence, but 1, 2, 4, 5 is not. Notes


---

In [7]:
def checkConsecutive(l):
    return sorted(l) == list(range(min(l), max(l)+1))
a = list(map(int,input().strip().split()))
b = list(map(int,input().strip().split()))
c = a+b;
print(checkConsecutive(c))

7 4 5 1
2 3 6
True

10. You work for a manufacturer, and have been asked to calculate the total profit made on the sales
of a product. You are given a dictionary containing the cost price per unit (in dollars), sell price per
unit (in dollars), and the starting inventory. Return the total profit made, rounded to the nearest
dollar.


---

In [8]:
a = list(map(float,input().strip().split()))
dict ={
    'cost_price':a[0],
    'sell_price':a[1],
    'inventory':a[2]
}
k = int((dict['sell_price']-dict['cost_price'])*dict['inventory'])
print(k)

32.67 45 1200
14795